{# movieEdit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Editar {{ movie.titulo }} - Movie Recommendations{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">
            <i class="bi bi-pencil"></i> Editar: {{ movie.titulo }}
        </h1>

        {{ include('movie/_form.html.twig', {'button_label': 'Actualizar'}) }}
    </div>
</div>
{% endblock %}